<template>
  <div>
    <el-row>
      <el-col :span="24">
        <h1>加入我们</h1>
      </el-col :span="24">
    </el-row>
    <el-row>
      <el-col :span="24">
        <div>
          <img src="../../static/地图.jpg" style="width:100%">
        </div>
      </el-col :span="24">
    </el-row>
    <el-row style="margin:50px 0px 50px 0px">
      <el-col :span="24">
        <el-steps :active="2" align-center>
          <el-step title="来电申请"></el-step>
          <el-step title="预约考察"></el-step>
          <el-step title="支付定金"></el-step>
          <el-step title="签约合同"></el-step>
          <el-step title="支付加盟费"></el-step>
          <el-step title="支付货款"></el-step>
          <el-step title="运营维护"></el-step>
        </el-steps>
      </el-col :span="24">
    </el-row>
    <el-row>
      <el-col :span="24">
        <h3>注：以上加盟条件为标准条件，诚意合作者，可联系公司进一步洽谈合作细节，具体合作方案以最终合同方案为准</h3>
      </el-col :span="24">
    </el-row>
  </div>
</template>
