<template>
  <div class="mymain">
  <el-row>
    <el-col :span="24">
      <div class="grid-content bg-purple">
        <el-menu class="el-menu-demo" mode="horizontal" @select="handleSelect" style="background-color:#606060" text-color="#FFFFFF">
          <el-col :span="3">
            <div class="grid-content bg-purple"><el-menu-item style="font-size:30px" index="0">热销车型</el-menu-item></div>
          </el-col>
          <el-col :span="1">
            <div class="grid-content bg-purple"><el-menu-item style="font-size:16px" index="1">美规车</el-menu-item></div>
          </el-col>
          <el-col :span="1">
            <div class="grid-content bg-purple"><el-menu-item style="font-size:16px" index="2">中东车</el-menu-item></div>
          </el-col>
          <el-col :span="1">
            <div class="grid-content bg-purple"><el-menu-item style="font-size:16px" index="3">加版车</el-menu-item></div>
          </el-col>
          <el-col :span="1">
            <div class="grid-content bg-purple"><el-menu-item style="font-size:16px" index="4">欧版车</el-menu-item></div>
          </el-col>
          <el-col :span="1">
            <div class="grid-content bg-purple"><el-menu-item style="font-size:16px" index="5">中规车</el-menu-item></div>
          </el-col>
          <el-col :span="2" :offset="14">
            <div class="grid-content bg-purple"><el-menu-item index="6" style="font-size:14px">查看更多>></el-menu-item></div>
          </el-col>
        </el-menu>
      </div>
    </el-col>
  </el-row>
  <el-row style="margin:30px 0px 83px 70px">
    <el-col :span="5">
      <el-radio-group v-model="labelPosition" size="small"></el-radio-group>
      <el-form :label-position="labelPosition" label-width="80px" :model="formdata1" disabled v-bind:style={display:isdisplay1}>
        <el-form-item>
          <img v-bind:src="path1" style="width: 100%">
        </el-form-item>
        <el-form-item>
          <el-input v-model="formdata1.name" style="font-size:40px"></el-input>
        </el-form-item>
        <el-form-item>
          <el-input v-model="formdata1.type" style="font-size:20px"></el-input>
        </el-form-item>
        <el-form-item>
          <el-input v-model="formdata1.price" style="font-size:20px"></el-input>
        </el-form-item>
        <el-form-item>
          <el-input  v-model="formdata1.grade" style="font-size:20px"></el-input>
        </el-form-item>
        <el-form-item>
          <el-input v-model="formdata1.info" type="textarea":rows="3" style="font-size:20px"></el-input>
        </el-form-item>
      </el-form>
    </el-col>
    <el-col :span="5" :offset="1">
      <el-radio-group v-model="labelPosition" size="small"></el-radio-group>
      <el-form :label-position="labelPosition" label-width="80px" :model="formdata2" disabled v-bind:style={display:isdisplay2}>
        <el-form-item>
          <img v-bind:src="path2" style="width:100%">
        </el-form-item>
        <el-form-item>
          <el-input v-model="formdata2.name" style="font-size:40px"></el-input>
        </el-form-item>
        <el-form-item>
          <el-input v-model="formdata2.type" style="font-size:20px"></el-input>
        </el-form-item>
        <el-form-item>
          <el-input v-model="formdata2.price" style="font-size:20px"></el-input>
        </el-form-item>
        <el-form-item>
          <el-input  v-model="formdata2.grade" style="font-size:20px"></el-input>
        </el-form-item>
        <el-form-item>
          <el-input v-model="formdata2.info" type="textarea":rows="3" style="font-size:20px"></el-input>
        </el-form-item>
      </el-form>
    </el-col>
    <el-col :span="5" :offset="1">
      <el-radio-group v-model="labelPosition" size="small"></el-radio-group>
      <el-form :label-position="labelPosition" label-width="80px" :model="formdata3" disabled v-bind:style={display:isdisplay3} >
        <el-form-item height="200px">
          <img v-bind:src="path3" style="width: 100%">
        </el-form-item>
        <el-form-item>
          <el-input v-model="formdata3.name" style="font-size:40px"></el-input>
        </el-form-item>
        <el-form-item>
          <el-input v-model="formdata3.type" style="font-size:20px"></el-input>
        </el-form-item>
        <el-form-item>
          <el-input v-model="formdata3.price" style="font-size:20px"></el-input>
        </el-form-item>
        <el-form-item>
          <el-input  v-model="formdata3.grade" style="font-size:20px"></el-input>
        </el-form-item>
        <el-form-item>
          <el-input v-model="formdata3.info" type="textarea":rows="3" style="font-size:20px"></el-input>
        </el-form-item>
      </el-form>
    </el-col>
    <el-col :span="5" :offset="1">
      <el-radio-group v-model="labelPosition" size="small"></el-radio-group>
      <el-form :label-position="labelPosition" label-width="80px" :model="formdata4" disabled v-bind:style={display:isdisplay4}>
        <el-form-item>
          <img v-bind:src="path4" style="width: 100%">
        </el-form-item>
        <el-form-item>
          <el-input v-model="formdata4.name" style="font-size:40px"></el-input>
        </el-form-item>
        <el-form-item>
          <el-input v-model="formdata4.type" style="font-size:20px"></el-input>
        </el-form-item>
        <el-form-item>
          <el-input v-model="formdata4.price" style="font-size:20px"></el-input>
        </el-form-item>
        <el-form-item>
          <el-input  v-model="formdata4.grade" style="font-size:20px"></el-input>
        </el-form-item>
        <el-form-item>
          <el-input v-model="formdata4.info" type="textarea":rows="3" style="font-size:20px"></el-input>
        </el-form-item>
      </el-form>
    </el-col>

  </el-row>
  </div>
</template>




<script>
import axios from 'axios'

export default {
  data()
  {
    return {
    path1:"",
    path2:"",
    path3:"",
    path4:"",
    labelPosition: 'top',
    isdisplay1: 'none',
    isdisplay2: 'none',
    isdisplay3: 'none',
    isdisplay4: 'none',
    formdata1: {
      name: '',
      grade: '',
      type: '',
      info:'',
      price:'',
    },
    formdata2: {
      name: '',
      grade: '',
      type: '',
      info:'',
      price:'',
    },
    formdata3: {
      name: '',
      grade: '',
      type: '',
      info:'',
      price:'',
    },
    formdata4: {
      name: '',
      grade: '',
      type: '',
      info:'',
      price:'',
    },
    }
  },

  methods:
  {
    handleSelect(key)
    {
      if(key=="6")
      {
        window.location.href=this.GLOBAL.server_vue+"more";
      }
      else
      {
        axios.post(this.GLOBAL.server_flask+"hot_cars",{key:key})
        .then((response) => {
          var hot_cars=response.data.hot_cars;
          var num=response.data.num;
          this.isdisplay1='none';
          this.isdisplay2='none';
          this.isdisplay3='none';
          this.isdisplay4='none';
          if(num>=1)
          {
            this.isdisplay1="block";
            this.formdata1.name=hot_cars[0][1];
            this.formdata1.grade="热销度:"+hot_cars[0][2];
            this.formdata1.type="类型:"+hot_cars[0][3];
            this.formdata1.price="售价:"+hot_cars[0][5];
            this.formdata1.info="简介:"+hot_cars[0][6];
            this.path1=this.GLOBAL.picture_path+hot_cars[0][4];

          }
          if(num>=2)
          {
            this.isdisplay2="block";
            this.formdata2.name=hot_cars[1][1];
            this.formdata2.grade="热销度:"+hot_cars[1][2];
            this.formdata2.type="类型:"+hot_cars[1][3];
            this.formdata2.price="售价:"+hot_cars[1][5];
            this.formdata2.info="简介:"+hot_cars[1][6];
            this.path2=this.GLOBAL.picture_path+hot_cars[1][4];
          }
          if(num>=3)
          {
            this.isdisplay3="block";
            this.formdata3.name=hot_cars[2][1];
            this.formdata3.grade="热销度:"+hot_cars[2][2];
            this.formdata3.type="类型:"+hot_cars[2][3];
            this.formdata3.price="售价:"+hot_cars[2][5];
            this.formdata3.info="简介:"+hot_cars[2][6];
            this.path3=this.GLOBAL.picture_path+hot_cars[2][4];
          }
          if(num>=4)
          {
            this.isdisplay4="block";
            this.formdata4.name=hot_cars[3][1];
            this.formdata4.grade="热销度:"+hot_cars[3][2];
            this.formdata4.type="类型:"+hot_cars[3][3];
            this.formdata4.price="售价:"+hot_cars[3][5];
            this.formdata4.info="简介:"+hot_cars[3][6];
            this.path4=this.GLOBAL.picture_path+hot_cars[3][4];
          }

          })
          .catch((error)=>{
            console.log(error)
          })
      }
     },
  },
  mounted()
  {
  axios.post(this.GLOBAL.server_flask+"hot_cars",{key:"0"})
  .then((response) => {
    var hot_cars=response.data.hot_cars;
    var num=response.data.num;
    this.isdisplay1='none';
    this.isdisplay2='none';
    this.isdisplay3='none';
    this.isdisplay4='none';
    if(num>=1)
    {
      this.isdisplay1="block";
      this.formdata1.name=hot_cars[0][1];
      this.formdata1.grade="热销度:"+hot_cars[0][2];
      this.formdata1.type="类型:"+hot_cars[0][3];
      this.formdata1.price="售价:"+hot_cars[0][5];
      this.formdata1.info="简介:"+hot_cars[0][6];
      this.path1=this.GLOBAL.picture_path+hot_cars[0][4];
    }
    if(num>=2)
    {
      this.isdisplay2="block";
      this.formdata2.name=hot_cars[1][1];
      this.formdata2.grade="热销度:"+hot_cars[1][2];
      this.formdata2.type="类型:"+hot_cars[1][3];
      this.formdata2.price="售价:"+hot_cars[1][5];
      this.formdata2.info="简介:"+hot_cars[1][6];
      this.path2=this.GLOBAL.picture_path+hot_cars[1][4];
    }
    if(num>=3)
    {
      this.isdisplay3="block";
      this.formdata3.name=hot_cars[2][1];
      this.formdata3.grade="热销度:"+hot_cars[2][2];
      this.formdata3.type="类型:"+hot_cars[2][3];
      this.formdata3.price="售价:"+hot_cars[2][5];
      this.formdata3.info="简介:"+hot_cars[2][6];
      this.path3=this.GLOBAL.picture_path+hot_cars[2][4];
    }
    if(num>=4)
    {
      this.isdisplay4="block";
      this.formdata4.name=hot_cars[3][1];
      this.formdata4.grade="热销度:"+hot_cars[3][2];
      this.formdata4.type="类型:"+hot_cars[3][3];
      this.formdata4.price="售价:"+hot_cars[3][5];
      this.formdata4.info="简介:"+hot_cars[3][6];
      this.path4=this.GLOBAL.picture_path+hot_cars[3][4];

    }

    })
    .catch((error)=>{
      console.log(error)
    })
  },
}
</script>





<style>
.mymain
{
  margin:40px 0px 40px 0px
}
.el-col
{
  text-align:center;
}
.el-row
{
  text-align:center;
}
</style>
