<template>
  <div>
    <el-row><el-col :offset="22" :span="2">
    <el-button type="primary" v-on:click="gotowrite" icon="el-icon-edit" circle>发帖</el-button>
    </el-col></el-row>
    <el-dialog title="请填写帖子" :visible.sync="dialogFormVisible">
      <el-form :model="form">
        <el-form-item label="帖子主题">
          <el-input v-model="form.theme" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item label="帖子内容">
          <el-input type="textarea" :autosize="{ minRows: 4, maxRows: 10}" v-model="form.content" auto-complete="off"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取消</el-button>
        <el-button type="primary" v-on:click="onSubmit">确定</el-button>
      </div>
    </el-dialog>
    <el-table :data="tableData" style="width: 100%">
      <el-table-column  prop="id" label="贴子ID"></el-table-column>
      <el-table-column  prop="theme" label="帖子主题"></el-table-column>
      <el-table-column  prop="accountname" label="发帖者"></el-table-column>
      <el-table-column  prop="time" label="帖子时间"></el-table-column>
      <el-table-column label="操作">
        <template slot-scope="scope">
          <el-button size="mini" @click="handleEdit(scope)">阅读</el-button>
          <el-button size="mini" type="danger" @click="handleDelete(scope)">删除</el-button>
        </template>
    </el-table-column>
    </el-table>
  </div>
</template>

<script>
import axios from 'axios'
import Element from 'element-ui'
import 'element-ui/lib/theme-chalk/index.css'
import Vue from 'vue'

  export default {
    data() {
      return {
        dialogFormVisible: false,
        form: {
          theme: '',
          content: '',
          time:""
        },
        tableData: []
      };
    },
    methods:
    {
      check()
      {
        axios.post(this.GLOBAL.server_flask+"all_weibos")
        .then((response) => {
          var return_code = response.data.code
          if(return_code == 200)
          {
            var all_weibos=response.data.all_weibos
            var num=response.data.num
            this.tableData=all_weibos
            }
            else
            {
            alert("出错了！")
            }
            })
            .catch((error)=>{
            console.log(error)
            })
      },
      gotowrite()
      {
        var accountname = sessionStorage.getItem('name')
        if(accountname==null)
        {
          this.$message
          ({
            message: "您未登陆，没有发帖权限~",
            type: 'warning'
          });
        }
        else
        {
          this.dialogFormVisible=true
        }
      },
      handleEdit(scope)
      {
        var weiboid=scope.row.id
        sessionStorage.removeItem('weiboid')
        sessionStorage.setItem('weiboid', weiboid);
        window.location.href=this.GLOBAL.server_vue+"weibo";
      },

      handleDelete(scope)
      {
        var deleteid=scope.row.id

        axios.post(this.GLOBAL.server_flask+"deleleweibo",{deleteid:deleteid}).then
        ((response) => {
          var return_code = response.data.code
          if(return_code == 200)
          {
            this.$message
            ({
              message: response.data.message,
              type: 'success'
            });
            this.check()
          }
          else
          {
            this.$message
            ({
              message: response.data.message,
              type: 'warning'
            });
          }
        })
        .catch((error)=>{
          console.log(error)
        })
      },

      onSubmit ()
      {
        var theme = this.form.theme
        var content = this.form.content

        this.dialogFormVisible = false
        if (theme == "" || content == "")
        {
          this.$message
          ({
            message:"输入不能为空",
            type: 'warning'
          });
          document.getElementById("theme").value=""
          document.getElementById("content").value=""
          document.getElementById("time").value=""
        }
        else
        {
          var accountname = sessionStorage.getItem('name');
          axios.post(this.GLOBAL.server_flask+"write",{theme:theme,content:content,accountname:accountname}).then
          ((response) => {
            var return_code = response.data.code
            if(return_code == 200)
            {
              this.$message
              ({
                message: response.data.message,
                type: 'success'
              });
              this.check()
            }
            else
            {
              document.getElementById("theme").value=""
              document.getElementById("content").value=""
              document.getElementById("time").value=""
              this.$message
              ({
                message: response.data.message,
                type: 'warning'
              });
            }
          })
          .catch((error)=>{
            console.log(error)
          })
        }
      }
    },
    mounted()
    {
      this.check()
    }
  }
</script>
