<template>
  <div>
    <el-carousel :interval="5000" arrow="always" height="582px" type="card" interval="1000">
      <el-carousel-item v-for="item in 5" :key="item"></el-carousel-item>
    </el-carousel>
  </div>
</template>




<style>
.el-carousel
{
  margin:140px 30px 140px 30px;
}
.el-carousel__item:nth-child(3)
{
  background:url(../../static/1.jpg) no-repeat;
  background-size:100% 100%;
}
.el-carousel__item:nth-child(4)
{
  background:url(../../static/2.jpg) no-repeat;
  background-size:100% 100%;
}
.el-carousel__item:nth-child(5)
{
  background:url(../../static/3.jpg) no-repeat;
  background-size:100% 100%;
}
.el-carousel__item:nth-child(6)
{
  background:url(../../static/4.jpg) no-repeat;
  background-size:100% 100%;
}
.el-carousel__item:nth-child(7)
{
  background:url(../../static/5.jpg) no-repeat;
  background-size:100% 100%;
}
</style>
