<template>
  <div>
    <el-row><el-col :span="24"><div class="box">
      <h1>{{weibotheme}}</h1>
      <h4>{{weibocontent}}</h4>
      <h6>{{weibotime}}</h6>
      <h6>{{weiboman}}</h6>
      <el-button type="primary" v-on:click="givecomment">评论</el-button>
      <el-dialog title="请填写您的评论" :visible.sync="dialogFormVisible">
        <el-form :model="form">
          <el-form-item label="评论内容">
            <el-input type="textarea" :autosize="{ minRows: 4, maxRows: 8}" v-model="form.content" auto-complete="off"></el-input>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogFormVisible = false">取消</el-button>
          <el-button type="primary" v-on:click="onSubmit">确定</el-button>
        </div>
      </el-dialog>
    </div></el-col></el-row>

    <div v-for="n in num">
      <div class="box">
        <h4>{{comments[n-1][1]}}</h4>
        <h6>{{comments[n-1][3]}}</h6>
        <h6>{{comments[n-1][4]}}</h6>
      </div>
    </div>

  </div>
</template>


<script>
import axios from 'axios'
import Element from 'element-ui'
import 'element-ui/lib/theme-chalk/index.css'
import Vue from 'vue'

  export default {
    data() {
      return {
        weiboid:'',
        weibotheme:'',
        weibocontent:'',
        weibotime:'',
        weiboman:'',
        dialogFormVisible:false,
        num:0,
        form: {
          content: ''
        },
        comments:[]
      }
    },
    methods:
    {
      first()
      {
        var weiboid=sessionStorage.getItem('weiboid')
        axios.post(this.GLOBAL.server_flask+"weibo",{weiboid:weiboid}).then
        ((response) => {
          var return_code = response.data.code
          if(return_code == 200)
          {
            var num=parseInt(response.data.num)
            var weibo = response.data.weibo
            var comments=response.data.comments

            this.comments=comments
            this.num=num
            this.weibotheme=weibo[1]
            this.weibocontent=weibo[2]
            this.weibotime=weibo[3]
            this.weiboman=weibo[4]
          }
          else
          {
            this.$message
            ({
              message: response.data.message,
              type: 'warning'
            });
          }
        })
        .catch((error)=>{
          console.log(error)
        })
      },
      givecomment()
      {
        var accountname = sessionStorage.getItem('name');
        if(accountname==null)
        {
          this.$message
          ({
            message: "您未登陆，没有发帖权限~",
            type: 'warning'
          });
        }
        else
        {
          this.dialogFormVisible=true
        }
      },
      onSubmit ()
      {
        var content = this.form.content
        this.dialogFormVisible = false
        if (content == "")
        {
          this.$message
          ({
            message:"输入不能为空",
            type: 'warning'
          });
        }
        else
        {
          var accountname = sessionStorage.getItem('name');
          var weiboid=sessionStorage.getItem('weiboid')
          axios.post(this.GLOBAL.server_flask+"comment",{weiboid:weiboid,comment:this.form.content,accountname:accountname}).then
          ((response) => {
            var return_code = response.data.code
            if(return_code == 200)
            {
              this.$message
              ({
                message: response.data.message,
                type: 'success'
              });
              this.first()
            }
            else
            {
              this.$message
              ({
                message: response.data.message,
                type: 'warning'
              });
            }
          })
          .catch((error)=>{
            console.log(error)
          })
        }
      }
    },
    mounted()
    {
      this.first()
    }
  }
</script>


<style>
.box
{
  width: 1500px;
  border: 5px double black;
  padding: 25px;
  margin: 20px auto;
}
</style>
