<template>
  <div>
    <el-container>
      <el-header style="height:83px">
        <el-row style="background-color:#404040">
          <el-col :span="1" :offset="21">
              <el-button  type="text" v-on:click="check" size="mini">账户信息</el-button>
          </el-col>
          <el-col :span="1" >
              <el-button  type="text" v-on:click="login" size="mini">前往登录</el-button>
          </el-col>
          <el-col :span="1" >
              <el-button  type="text" v-on:click="register" size="mini">新用户注册</el-button>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="24">
            <div class="grid-content bg-purple">
              <el-menu default-active="onRoutes" router class="el-menu-demo" mode="horizontal" background-color="#909090" text-color="#FFFFFF" active-text-color="#ffd04b">
                <el-col :span="4">
                  <div class="grid-content bg-purple"><el-menu-item index="/home"  style="font-size:45px">车保汇</el-menu-item></div>
                </el-col>
                <el-col :span="4">
                  <div class="grid-content bg-purple"><el-menu-item index="/home"  style="font-size:18px">首页</el-menu-item></div>
                </el-col>
                <el-col :span="4">
                  <div class="grid-content bg-purple"><el-menu-item index="/car"  style="font-size:18px">车型</el-menu-item></div>
                </el-col>
                <el-col :span="4">
                  <div class="grid-content bg-purple"><el-menu-item index="/carfriend"  style="font-size:18px">论坛</el-menu-item></div>
                </el-col>
                <el-col :span="4">
                  <div class="grid-content bg-purple"><el-menu-item  style="font-size:18px" index="/join">加入我们</el-menu-item></div>
                </el-col>
                <el-col :span="4">
                  <div class="grid-content bg-purple"><el-submenu  index="2">
                    <template slot="title"><div style="font-size:18px">公司</div></template>
                    <el-menu-item index="/info">公司简介</el-menu-item>
                    <el-menu-item index="/call">联系我们</el-menu-item>
                  </el-submenu></div>
                </el-col>
              </el-menu>
            </div>
          </el-col>
        </el-row>
      </el-header>


      <el-main>
        <el-dialog title="个人账户信息" :visible.sync="dialogTableVisible">
          <div v-for="n in 3">
            <el-row><el-col :span="10"><div class="sbox">
              {{myaccount[n-1]}}
            </div></el-col></el-row>
          </div>
          <el-button  type="text" v-on:click="logout" size="mini">注销</el-button>
        </el-dialog>
        <router-view></router-view>
      </el-main>


    </el-container>
  </div>
</template>









<script>
import axios from 'axios'
import Element from 'element-ui'
import 'element-ui/lib/theme-chalk/index.css'
import Vue from 'vue'


export default
{
  data ()
  {
    return {
    myaccount: [],
    dialogTableVisible: false
    }
  },
  methods:
  {
  login ()
  {
    window.location.href=this.GLOBAL.server_vue+"login";
  },
  check ()
  {
  var key = sessionStorage.getItem('name');
  axios.post(this.GLOBAL.server_flask+"myaccount",{key:key}).then
  ((response) => {
    var return_code = response.data.code
    if(return_code == 200)
    {
      this.myaccount=response.data.myaccount
      this.dialogTableVisible = true
    }
    else
    {
      this.$message
      ({
        message: response.data.message,
        type: 'warning'
      });
    }
  })
  .catch((error)=>{
    console.log(error)
  })

  },
  register ()
  {
    window.location.href=this.GLOBAL.server_vue+"register";
  },
  logout()
  {
    var key = sessionStorage.getItem('name');
    axios.post(this.GLOBAL.server_flask+"logout",{key:key}).then
    ((response) => {
      var return_code = response.data.code
      if(return_code == 200)
      {
        this.dialogTableVisible = false
        sessionStorage.removeItem('name')
        sessionStorage.removeItem('weiboid')
        this.$message
        ({
          message: response.data.message,
          type: 'success'
        });

      }
      else
      {
        this.$message
        ({
          message: response.data.message,
          type: 'warning'
        });
      }
    })
    .catch((error)=>{
      console.log(error)
    })
  },
  },
  created()
  {

  },
  components: {  }

}
</script>












<style>

body
{
  margin:0px;
}
.el-header
{
  padding:0px;
}
.el-main
{
  padding:0px;

}
.el-col
{
  text-align:center;
}
.sbox
{
  width: 400px;
  border: 5px double black;
  padding: 25px;
  margin: 20px auto;
}
</style>
