<template>
<div class="infopage">
  <div>
    <center><font size="60" color="blue">东莞市车保汇贸易有限公司</font></center>
    <h1>公司简介</h1>
    <p>主要经营欧美、德国、中东、加版、意⼤利等各款⾼端豪华进⼝汽⻋品牌及美规豪华 SUV 等，是中国汽⻋⾼端进口品牌综合店。</p>
    <p>公司拥有45000平⽶独特的销售展厅和1000平⽶配套世界先进检修设备的售后服务⻋间，200 平⽶的汽⻋⾦融、汽贸精品及 200 平⽶的会议厅，预计总投资超过 5000 万，拥有绝对的地理优势和豪华的店⾯装修，最新的汽⻋资源。</p>
    <p>总公司位于东莞麻涌港，是以汽⻋美容、汽⻋维修、改装汽⻋、汽⻋销售、汽⻋租赁、拖⻋户外、⼆⼿⻋交易服务、⻋辆配件及精品批发零售、VIP 会所⼀体化的综合平⾏⻋⾏。</p>
    <img src="../../static/a.jpg" style="width:40%">
    <p>树⽴⻓远的差异化战略发展⽬标，迅速提升品牌形象及市场占有率，强化竞争优势，成为中国汽⻋业知名豪⻋品牌。</p>
    <img src="../../static/b.jpg" style="width:40%">
    <p>2016 年 10 ⽉正式启动开业，2017 年深圳分公司启动，2017 年下半年佛⼭分公司启动，公司规划 2019 年在珠三⻆包括粤东粤⻄成⽴完成 100 家分公司。</p>
    <p>公司项目：汽⻋销售、汽⻋后市场及汽⻋精品、汽⻋美容、汽⻋改装维修、汽⻋租赁、互联⽹汽⻋销售、汽⻋进⼝贸易、⼆⼿⻋交易、新能源汽⻋、保险代理、汽⻋⾦融、休闲会所、财商培训、直营合作。</P>
    <img src="../../static/c.jpg" style="width:40%">
    <h1>企业文化</h1>
    <p>企业愿景：打造中国汽⻋贸易交易第⼀平台</p>
    <p>企业使命：⽴⾜⼴东、⾯向全国</p>
    <p> 企业价值：以专业为根基、以服务为导向</p>
    <p> 企业经营理念：管理好⾃⼰、带领好他⼈</p>
    <p> 企业服务理念：⽤爱⼼来做实业、⽤感恩的⼼来做⼈</p>
    <p>公司模式：以⼈为本、以⻋会友</p>
    <img src="../../static/d.jpg" style="width:20%">
    <h3>成功并不难，携手车保汇，直接拥有车保汇运营模式，直接复制⼀站式购车模式，复制成功是走向成功的最快方式。</h3>
       <li>6S标准服务系统</li>
       <li>汽⻋改装、维修、保养⼀条⻰、⼀卡通⽤</li>
       <li>从预定到进⼝、再到港⼝、再到提⻋的⼀站式购⻋系统</li>
       <li>⻋友会搭建以⻋会友的交友平台</li>
  </div>
  <div>
    <h1>公司项目</h1>
    <h3>汽⻋销售</h3>
    <img src="../../static/e.jpg" style="width:30%">
    <li>中规汽⻋报价</li>
    <li>美规、欧规进⼝报价</li>
    <li>以租贷购⻋⽅式</li>
    <li>⼀成⾸付0元购⻋服务</li>
    <p>确认⻋型→汽⻋报价→缴纳订⾦→购⻋合同→提交资料→银⾏出同贷书→银⾏放贷→提⻋</p>
    <h3>汽⻋⾦融</h3>
    <img src="../../static/f.jpg" style="width:30%">
    <li>汽⻋贷款</li>
    <li>保险贷款</li>
    <li>流⽔贷</li>
    <li>企业贷等⾦融产品</li>
    <li>中国银⾏、⼯商银⾏、东莞银⾏、平安银⾏农商银⾏、建设银⾏</li>
    <h3>汽⻋租赁、以租贷购</h3>
    <li>会员婚⻋免费服务</li>
    <li>会员低价开业典礼摆⻋</li>
    <li>会员低价租⻋</li>
    <li>以租贷购减轻购⻋压⼒</li>
    <li>为会员提供最优惠的购⻋价格及格外服务</li>
    <h3>互联⽹购⻋系统平台</h3>
    <img src="../../static/g.jpg" style="width:30%">
    <li>浏览线上公司新闻</li>
    <li>快速搜寻⻋型⻋价</li>
    <li>搭建互联⽹⼆⼿⻋交易平台</li>
    <li>以旧换新咨询</li>
    <li>⽹上购⻋交易服务平台、全国配送</li>
    <h3>汽⻋进⼝贸易</h3>
    <img src="../../static/h.jpg" style="width:30%">
    <li>全国配送进⼝汽⻋</li>
    <li>国外⼚家订购系统</li>
    <li>天津港进⼝⼀条⻰采购系统</li>
    <li>国外汽⻋报价:定⻋→⽣产→进⼝→⻋⾏→提⻋</li>
    <h3>⼆⼿⻋交易</h3>
    <img src="../../static/i.jpg" style="width:30%">
    <li>压⻋⾦融</li>
    <li>VIP ⼆⼿⻋以旧换新</li>
    <li>⼆⼿⻋买卖平台</li>
    <h3>新能源汽⻋</h3>
    <img src="../../static/j.jpg" style="width:30%">
    <li>企业及政府战略合作</li>
    <li>城市公交新能源配送</li>
    <li>新能源汽⻋⾦融</li>
    <li>0元购⻋、新能源</li>
    <h3>汽⻋精品</h3>
    <img src="../../static/k.jpg" style="width:30%">
    <li>批发汽⻋配件、饰品、精品，打造汽⻋后市场交易平台，招商引资，丰富汽⻋需求</li>
    <h3>保险代理</h3>
    <img src="../../static/l.jpg" style="width:30%">
    <h3>汽⻋售后</h3>
    <img src="../../static/m.jpg" style="width:30%">
    <li>汽⻋美容⼀卡通</li>
    <li>汽⻋改装、维修⼀条⻰服务.（会员全程24⼩时服务，随叫随到）</li>
    <li>私⼈定制改装⻛格:维修→电话→保险拍照→定损→报价→维修→试⻋→提⻋</li>
  </div>
</div>
</template>

<style>
.infopage
{
  background-color:white;
  padding:10px 0px 0px 40px
}
</style>
