<template>
  <center>
    <el-form :model="dataform" class="login-box" name="f" style="margin-top:10%;margin-left:40%">
      <el-row>
        <el-col :span="8">
          <img src="../../static/baoma.jpg" style="width:100%">
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="8">
          <el-input  v-model="dataform.name" type="text" placeholder="请输入登陆名" name="name"  id="name" auto-complete='off'></el-input>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="8">
          <el-input v-model="dataform.password" type="password" placeholder="请输入密码" name="password"  id="password" auto-complete='off'></el-input>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="8">
          <template><el-button v-on:click="onSubmit" style="width:100%" type="primary">登录</el-button></template>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="4">
          <template><el-button v-on:click="go_home" style="width:100%"  type="text">返回主页</el-button></template>
        </el-col>
        <el-col :span="4">
          <template><el-button v-on:click="go_register" style="width:100%"  type="text">注册账户</el-button></template>
        </el-col>
      </el-row>
    </el-form>
  </center>
</template>

<script>
import axios from 'axios'
import Element from 'element-ui'
import 'element-ui/lib/theme-chalk/index.css'
import Vue from 'vue'



export default
{
  data: function()
  {
    return{
      dataform:
      {
        name : '',
        password : ''
      },
    }
  },
  methods:
  {
    go_home()
    {
      window.location.href=this.GLOBAL.server_vue;
    },
    go_register()
    {
      window.location.href=this.GLOBAL.server_vue+"register";
    },
    onSubmit ()
    {
      var name = f.name.value;
      var password = f.password.value;
      if (name == "" || password == "")
      {
        this.$message
        ({
          message:"输入不能为空",
          type: 'warning'
        });
        document.getElementById("name").value="";
        document.getElementById("password").value="";
      }
      else
      {
        var check1=name.match(/^[a-zA-Z0-9]+$/);
        var check2=password.match(/^[a-zA-Z0-9]+$/);
        if(check1==null&&check1==null)
        {
          this.$message
          ({
            message:"非法输入！仅支持数字和字母！",
            type: 'warning'
          });
          document.getElementById("name").value="";
          document.getElementById("password").value="";
        }
        else
        {
          axios.post(this.GLOBAL.server_flask+"login", this.dataform).then
          ((response) => {
            var return_code = response.data.code;
            if(return_code == 200)
            {
              sessionStorage.setItem('name', name);
              window.location.href=this.GLOBAL.server_vue;
            }
            else
            {
              document.getElementById("name").value="";
              document.getElementById("password").value="";
              this.$message
              ({
                message: response.data.message,
                type: 'warning'
              });
            }
          })
          .catch((error)=>{
            console.log(error)
          })
        }
      }
    }
  }
}
</script>
