this.<template>
  <div>
  <br>
  <template><el-button v-on:click="go_back" style="width:8%"  type="info" plain icon="el-icon-arrow-left">返回上一层</el-button></template>
    <el-row style="margin:15px 50px 0px 50px">
      <el-col :span="12">
        <div style="margin-top: 15px">
          <el-input placeholder="请输入您想要搜索的车型" v-model="input" name="car"  id="car">
            <el-button v-on:click="search" slot="append" icon="el-icon-search"></el-button>
          </el-input>
        </div>
        <div>
          <img v-bind:src="path" style="width: 100%">
        </div>
        <div>
          <h1>{{carname}}</h1>
        </div>
        <div>
          <h3>{{cartype}}</h3>
        </div>
        <div>
          <h3>{{carprice}}</h3>
        </div>
        <div>
          <h3>{{carhot}}</h3>
        </div>
        <div>
          <h3>{{carinfo}}</h3>
        </div>
        <el-row style="text-align:center">
          <el-button-group>
            <el-button type="primary" icon="el-icon-arrow-left" v-on:click="left"></el-button>
            <el-button type="primary" icon="el-icon-arrow-right" v-on:click="right"></el-button>
          </el-button-group>
        </el-row>
      </el-col>
      <el-col :span="12">

      </el-col>
    </el-row>
  </div>
</template>



<script>
import axios from 'axios'
import Element from 'element-ui'
import 'element-ui/lib/theme-chalk/index.css'
import Vue from 'vue'

export default {
  data() {
    return {
              input:'',
              path:"",
              carname:"",
              cartype:"",
              carprice:"",
              carhot:"",
              carinfo:"",
           }
    },

  methods:
  {
    go_back()
    {
      window.location.href=this.GLOBAL.server_vue+"car";
    },
    left()
    {
      var all_cars_str = sessionStorage.getItem('all_cars');
      var now_car=this.carname;
      var all_cars=all_cars_str.split(",,");
      for(var j=0;j<all_cars.length;j++)
      {
        all_cars[j]=all_cars[j].split(",");
      }
      for (var i=0;i<all_cars.length;i++)
      {
        if(now_car==all_cars[i][1])
        {
          if(i==0)i=all_cars.length-1;
          else i=i-1;
          this.path=this.GLOBAL.picture_path+all_cars[i][4];
          this.carname=all_cars[i][1];
          this.cartype=all_cars[i][3];
          this.carprice=all_cars[i][5];
          this.carinfo=all_cars[i][6];
          this.carhot=all_cars[i][2];
          break;
        }

      }
    },
    right()
    {
    var all_cars_str = sessionStorage.getItem('all_cars');
    var now_car=this.carname;
    var all_cars=all_cars_str.split(",,");
    for(var j=0;j<all_cars.length;j++)
    {
      all_cars[j]=all_cars[j].split(",");
    }
    for (var i=0;i<all_cars.length;i++)
    {
      if(now_car==all_cars[i][1])
      {
        if(i==all_cars.length-1)i=0;
        else i=i+1;
        this.path=this.GLOBAL.picture_path+all_cars[i][4];
        this.carname=all_cars[i][1];
        this.cartype=all_cars[i][3];
        this.carprice=all_cars[i][5];
        this.carinfo=all_cars[i][6];
        this.carhot=all_cars[i][2];
        break;
      }

    }
    },
    search()
    {
      var car = this.input;
      if (car == "")
      {
        this.$message
        ({
          message:"输入不能为空",
          type: 'warning'
        });
        document.getElementById("car").value="";
      }
      else
      {
        axios.post(this.GLOBAL.server_flask+"search", {car:car}).then
        ((response) => {
          var return_code = response.data.code;
          if(return_code == 200)
          {
              this.path=this.GLOBAL.picture_path+response.data.car[4];
              this.carname=response.data.car[1];
              this.cartype=response.data.car[3];
              this.carprice=response.data.car[5];
              this.carinfo=response.data.car[6];
              this.carhot=response.data.car[2];
              this.input="";
          }
          else
          {
            this.input="";
            this.$message
            ({
              message: response.data.message,
              type: 'warning'
            });
          }
        })
        .catch((error)=>{
          console.log(error)
        })
      }
    }
  },
  mounted()
  {
  axios.post(this.GLOBAL.server_flask+"all_cars")
  .then((response) => {
    var all_cars=response.data.all_cars;
    var num=response.data.num;
    var ex_car=all_cars[0];
    this.path=this.GLOBAL.picture_path+all_cars[0][4];
    this.carname=all_cars[0][1];
    this.cartype=all_cars[0][3];
    this.carprice=all_cars[0][5];
    this.carinfo=all_cars[0][6];
    this.carhot=all_cars[0][2];
    sessionStorage.setItem('all_cars', all_cars);
    })
    .catch((error)=>{
      console.log(error)
    })
  },
}
</script>
